
html {
    background-color: #52677F;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    
}

select {
    background-color: #52677F;
    color: #f2f2f2;
    height: 30px;
    width: 45%;
    border: solid 0.5px #f2f2f2;
}

option {
    text-align: center;
}

/* #mainContent {
    width: 100%;
   
} */

#paramsTable {
    width: 100%;
    display: inline-block;
}

table {
    font-size: 0.85em;
    width: 100%;
}

td {
    width: 15%;
    padding: 0px, 0px, 0px, 0px;;
    height: 40px;
    
}

button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-color: #52677F;
    color: #f2f2f2;
    border-radius: 5px;
}

.params {
    /* font-size: 0.75em; */
    /* margin-top: 5px;
    margin-bottom: 10px; */
}  

.numInputs {
    width: 45%;
    height: 30px;
    text-align: center;
    background-color: #52677F;
    color: #f2f2f2;
    border: solid 0.5px #f2f2f2;
    margin-right: 5px;
    border-radius: 5px;
}

#buttonContainer {
    margin-top: 10px;
}

#parameters {
    margin-top: 20px;
    margin-left: 20px;
}

#left_panel {
    display: inline-block;
    width: 30%;
    height: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#right_panel {
    display: inline-block;
    width: 60%;
    height: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

canvas {
    background-color: #52677F;
    width: 100%;
    height: 500px;
    border: solid 1px #f2f2f2;
}

#canvasContainer {
    height: 90%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title {
    margin-top: 20px;
    margin-left: 20px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}